:root {
   --bg-colour: #0C141C; /* Background colour - Dark blue */
   --fg-colour-one: #272660; /* Accent 1 - Medium blue */
   --fg-colour-two: #0FFFFF; /* Accent 2 - Neon blue */
   --fg-colour-three: #ED1E79; /* Accent 3 - Bright pink */
}
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'IBM Plex Mono', monospace;
}
body {
    width: 100vw;
    height: 100vh;
    background-color: var(--bg-colour);
}
section {
    padding: 15px;
}
.container {
    max-width: 1000px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
    gap: 50px;
    margin: 0 auto;
    padding: 25px;
    color: #FFF;
    background-color: #27266050; /* Used hex code instead of variable to change alpha value */
    border: solid 2px var(--fg-colour-two);
    box-shadow: inset 0 0 0.75em 0 var(--fg-colour-two), 0 0 1.15em 0 var(--fg-colour-two);
    border-radius: 10px;
}
.container-heading {
    font-size: 40px;
    margin-bottom: 20px;
    color: var(--fg-colour-three);
    text-shadow: 0 0 0.3em currentColor;
 }
 .container-description {
    font-size: 18px;
    text-align: justify;
    text-justify: inter-word;  
 }
 .container-gif {
    max-width: 400px;
    max-height: 400px;
 }
 @media all and (max-width: 768px) {
    .container {
        flex-direction: column;
        align-items: center;
    }
    .container-heading {
        font-size: 32px;
    }
    .container-description {
        font-size: 14px;
    }
    .container-gif {
        max-width: 360px;
        max-height: 360px;
    }
 }
 @media all and (max-width: 420px) {
    .container-gif {
        max-width: 260px;
        max-height: 260px;
    }
 }

