@import url('https://fonts.googleapis.com/css2?family=Roboto+Flex:opsz,wght@8..144,100&display=swap');

@font-face {
  font-family: Cyber;
  src: url("https://assets.codepen.io/605876/Blender-Pro-Bold.otf");
  font-display: swap;
}
:root {
   --bg-colour: #0C141C; /* Background colour - Dark blue */
   --fg-colour-one: #272660; /* Accent 1 - Medium blue */
   --fg-colour-two: #0FFFFF; /* Accent 2 - Neon blue */
   --fg-colour-three: #ED1E79; /* Accent 3 - Bright pink */
}
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'IBM Plex Mono', monospace;
}
body {
    width: 100vw;
    height: 100vh;
    background-color: var(--bg-colour);
}
  /*header CSS styles end*/
header{
    width: 750px;
    margin-left: auto;
    margin-right: auto;
    padding-top: 60px;
  }
h1 {
    font-family: 'Roboto Flex', sans-serif;
    font-weight: 0px;
    font-size: 100px;
    letter-spacing: 25px;
    color: white;
    text-align: center;
    text-shadow:
      0 0 3px #fff,
      0 0 7px #fff,
      0 0 15px #fff,
      0 0 20px var(--fg-colour-two),
      0 0 28px var(--fg-colour-two);
     animation: flicker 1.5s infinite alternate;   
}
.search-container {
    padding-top: 20px;
    display: flex;
    flex-direction: row;
    justify-content: right;
    align-items: flex-start;
}
.search-container input[type=text] {
    padding: 20px;
    width: 340px;
    height: 30px;
    line-height: 30px;
    margin-right: 20px;
    background-color: black;
    color:white;
    font-family: 'Cyber', sans-serif;
    font-size: 15px;
    letter-spacing: 2px;
    border: none;
}
.search-container button {
    float: right;
    background: var(--fg-colour-three);
    justify-content: center;
    color: white;
    font-family: 'Cyber', sans-serif;
    font-size: 15px;
    border: none;
    cursor: pointer;
    font-weight: 700;
    letter-spacing: 2px;
    border: 0;
    min-width: 130px;
    height: 40px;
    line-height: 30px;
    clip-path: polygon(0 0, 100% 0, 100% 100%, 8% 100%, 0 70%);  
}
.search-container button:hover {
    background-color: var(--fg-colour-two);
    transform: scale(1.01);
}
@keyframes flicker {
    0%, 18%, 22%, 25%, 53%, 57%, 100% {
      text-shadow:
      0 0 3px #fff,
      0 0 7px #fff,
      0 0 15px #fff,
      0 0 20px var(--fg-colour-two),
      0 0 28px var(--fg-colour-two);
}
    20%, 24%, 55% {       
      text-shadow: none;
}
}
/*header CSS styles end*/
section {
    padding: 15px;
    padding-top:30px;
    position: relative;
}
.container {
    max-width: 1000px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
    gap: 50px;
    margin: 0 auto;
    padding: 25px;
    color: #FFF;
    background-color: #27266050; /* Used hex code instead of variable to change alpha value */
    border: solid 2px var(--fg-colour-two);
    box-shadow: inset 0 0 0.75em 0 var(--fg-colour-two), 0 0 1.15em 0 var(--fg-colour-two);
    border-radius: 10px;
}
.container-heading {
    font-size: 40px;
    margin-bottom: 20px;
    color: var(--fg-colour-three);
    text-shadow: 0 0 0.3em currentColor;
 }
 .container-description {
    font-size: 18px;
    text-align: justify;
    text-justify: inter-word;  
 }
 .container-gif {
    max-width: 400px;
    max-height: 400px;
 }
 @media all and (max-width: 768px) {
     header{
        width: 500px;
      }
    h1{
        font-size:40px;
    }
    .search-container {
        flex-direction: column;
        justify-content: center;
    }
    .container {
        flex-direction: column;
        align-items: center;
    }
    .container-heading {
        font-size: 34px;
    }
    .container-description {
        font-size: 16px;
    }
    .container-gif {
        max-width: 360px;
        max-height: 360px;
    }
 }
 @media all and (max-width: 420px) {
    header{
        width: 160px;
        padding-top: 20px;
        margin-bottom: 20px;
      }
    h1{
        font-size:20px;
    }
    .container-heading {
        font-size: 32px;
    }
    .container-description {
        font-size: 14px;
    }
    .container-gif {
        max-width: 260px;
        max-height: 260px;
    }
 }

